header {
    display: flex;
    justify-content: center;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 100vh;
}

.articles-list {
    display: flex;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}