.articles-list {
    min-width: 100vh;
}
header {
    display: flex;
    justify-content: center;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-grow: 1;
    /* min-width: 300px; */
    flex-basis: 300px;
}